#characterPortraitPanel {
    .secondary-tabpanel {
        padding: 0;
    }
}

#characterPortraitPanel .astra-zoomed-avatar {
    max-width: 100%;
    width: 100%;
    margin: 0;
    flex-direction: column;
    gap: 12px;
}

#characterPortraitPanel .astra-zoomed-avatar .panelControlBar {
    display: none;
}

#characterPortraitPanel .astra-zoomed-avatar .zoomed_avatar_container {
    width: 100%;
    max-width: 100%;
    max-height: unset;
    mask-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 0) 1%,
        rgba(0, 0, 0, 1) 20%
    );
    -webkit-mask-image: linear-gradient(
        to top,
        rgba(0, 0, 0, 0) 1%,
        rgba(0, 0, 0, 1) 20%
    );

    img {
        border-radius: 0;
    }
}

body.waifuMode .zoomed_avatar,
.zoomed_avatar {
    position: unset !important;
    padding: 0 !important;
    filter: unset !important;
    overflow: hidden !important;
    max-height: unset !important;
    max-width: unset !important;
    transform: unset !important;
    align-items: unset !important;
    justify-content: unset !important;
    height: unset !important;
    width: unset !important;
}
