@import "tw-animate-css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --radius: 0.625rem;
        --background: #0a0a0a;
        --foreground: #fafafa;
        --card: #171717;
        --card-foreground: #fafafa;
        --popover: #262626;
        --popover-foreground: #fafafa;
        --primary: #e5e5e5;
        --primary-foreground: #171717;
        --secondary: #262626;
        --secondary-foreground: #fafafa;
        --muted: #262626;
        --muted-foreground: #a1a1a1;
        --accent: #404040;
        --accent-foreground: #fafafa;
        --destructive: #ff6467;
        --border: #ffffff1a;
        --input: #ffffff26;
        --ring: #737373;
        --chart-1: #1447e6;
        --chart-2: #00bc7d;
        --chart-3: #fe9a00;
        --chart-4: #ad46ff;
        --chart-5: #ff2056;
        --sidebar: #171717;
        --sidebar-foreground: #fafafa;
        --sidebar-primary: #1447e6;
        --sidebar-primary-foreground: #fafafa;
        --sidebar-accent: #262626;
        --sidebar-accent-foreground: #fafafa;
        --sidebar-border: #ffffff1a;
        --sidebar-ring: #525252;
    }

    .light {
        --background: #ffffff;
        --foreground: #0a0a0a;
        --card: #ffffff;
        --card-foreground: #0a0a0a;
        --popover: #ffffff;
        --popover-foreground: #0a0a0a;
        --primary: #171717;
        --primary-foreground: #fafafa;
        --secondary: #f5f5f5;
        --secondary-foreground: #171717;
        --muted: #f5f5f5;
        --muted-foreground: #737373;
        --accent: #f5f5f5;
        --accent-foreground: #171717;
        --destructive: #e7000b;
        --border: #e5e5e5;
        --input: #e5e5e5;
        --ring: #a1a1a1;
        --chart-1: #f54900;
        --chart-2: #009689;
        --chart-3: #104e64;
        --chart-4: #ffb900;
        --chart-5: #fe9a00;
        --sidebar: #fafafa;
        --sidebar-foreground: #0a0a0a;
        --sidebar-primary: #171717;
        --sidebar-primary-foreground: #fafafa;
        --sidebar-accent: #f5f5f5;
        --sidebar-accent-foreground: #171717;
        --sidebar-border: #e5e5e5;
        --sidebar-ring: #a1a1a1;
    }

    * {
        @apply border-border;
        outline-color: color-mix(in srgb, var(--ring) 50%, transparent);
    }

    button:not(:disabled),
    [role="button"]:not(:disabled) {
        cursor: pointer;
    }

    body {
        @apply bg-background text-foreground;
        font-feature-settings:
            "rlig" 1,
            "calt" 1;
    }

    ol,
    ul,
    menu {
        list-style: revert;
        margin-left: 20px;
    }

    img,
    video {
        max-width: revert;
    }

    #astra-projecta-react-root img,
    #astra-projecta-react-root video {
        max-width: 100%;
    }
}
